{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block title %}
Password Recovery
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <img src="{{ url_for('static', filename='logo/dark.png') }}" alt="Logo" height="100">
              <h2 class="mb-0">Password Recovery</h2>
            </div>
          </div>
          <div class="card-body">
            <form method="post">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" name="new_password" id="new_password" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
              </div>
              <div class="d-grid gap-2">
                <input type="submit" value="Recover Password" class="btn btn-dark">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-EQy545tXmFzD8/621mIemM1lttj_f/onW0Z8F+re6ab5AKGcEe9WJ3Tn3lJOnD/" crossorigin="anonymous"></script>
{% endblock %}
