{% extends 'base.html' %}

{% block content %}
<br>

<br>    
  <h2>All Holdings</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">UserID</th>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares Held</th>
        <th scope="col">Price per Share (Last Day Close)</th>
      </tr>
    </thead>
    <tbody>
      {% for holding in holdings %}
        <tr>
          <td>{{ holding['user_id'] }}</td>
          <td>{{ holding['symbol'] }}</td>
          <td>{{ holding['name'] }}</td>
          <td>{{ holding['shares'] }}</td>
          <td>{{ holding['adjusted_close'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
